@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Fredoka:wght@300..700&family=Goldman:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 140px;
    right: 0;
    z-index: 1000;
    background: rgba(74, 74, 74, 0.2); 
    backdrop-filter: blur(8px); 
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.header__link{
    color: rgb(255, 255, 255);
    transition: 0.7s ease-in-out;
    font-family: "roboto";
}
.header__link:hover{
    color: rgb(46, 46, 46);
    font-family: "roboto";
}
.header__title{
    font-family: "roboto";  
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgb(255, 255, 255);
}
.header__btn{
    padding: 5px 20px;
    font-family: "roboto";
    background: red;
    color: white;
    border-radius: 10px;
    transition: 0.7s ease-in-out;
    border: 1px solid rgb(208, 0, 0);
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

}
.header__btn:hover{
    padding: 5.5px 20.5px;
    font-family: "roboto";
    background: rgb(200, 0, 0);
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(136, 0, 0);
    
}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__item1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
main{
    background-image: url(../images/5ea548b9-a2a7-4a67-b5bf-7365c28e8e25.png);
    background-repeat: no-repeat;
    height: 830px;
    /* margin-top: 130px; */
    max-width: 1200px;
    margin: auto;
}
.main__title{
    color: white;
    margin-top: 250px;
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 1136px;
    margin-left: 30px;
    margin-bottom: 50px;
}
.main__text{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 162%;
    letter-spacing: 0%;
    color: white;
    margin-left: 30px;
}
.main__btn{
    background: red;
    padding: 5px 30px;
    border-radius: 20px;
    font-family:"roboto";
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    transition:0.5s ease-in-out;
}
.main__btn:hover{
    background: rgb(207, 1, 1);
    padding: 5px 30px;
    border-radius: 20px;
    font-family:"roboto";
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}
.section__title{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0%;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 622px;
}
.span1{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgb(255, 0, 0);
    text-transform: uppercase;    
}
.section__text{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: 0%;
    color: rgb(85, 85, 85);
    vertical-align: bottom;

}
.section__btn{
    font-family: 'roboto';
    background: white;
    transition: 0.5s ease-in-out;
    border-bottom: 2px solid red ;
}
.section__btn:hover{
    font-family: 'roboto';
    background: white;
    border-bottom: 2px solid rgb(167, 0, 0) ;
}
.section__igm1{
    width: 400px;
    position: absolute;
    z-index:1;
    padding-right: -400px;
}
.section__igm2{
    width: 400px;
    position: absolute;
    z-index: 2;
    padding-right: -400px;
}
.section__igm3{
    width: 350px;
    position: absolute;
    z-index: 3;
    padding-right: -300px;
}
.section__list{
    display: flex   ;
    /* justify-content: space-between; */
}
article{
    margin-top:200px;
}
.article__title{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}
.article__title1{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;

}
.article__text{
    font-family: "roboto";
    font-weight: 400;
    font-style: "Regular";
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: gray;
    width: 376px;
}
.article__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* line-height: 40px; */
}
.article__item{
    width: 300px;
}

.aside__title1{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: black;
}
.aside__title{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.aside__text{
    font-family: "roboto";
    font-weight: 400;
    font-style: "Regular";
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 100px;
    vertical-align: bottom;
    color: #252525;
}
.aside__text1{
    font-weight: 400;
    font-family: "roboto";
    font-style: "Regular";
    font-size: 20px;
    line-height:35px;
    letter-spacing: 0%;
    vertical-align: bottom;

}
.span2{
    font-size: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.aside__item{
    /* background-image: url(../images/uy.png);
    background-repeat: no-repeat; */
    width: 680px;   
    margin-right: 30px;
}
.aside__list{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;

} 

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  /* background-color: #1e1e1e; */
  /* color: #fff; */
  padding: 20px;
  border-radius: 10px;
  max-width: 450px;
}

.icon {
  /* background-color: #fff; */
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 100px;
  margin-top: 50px;
  height: 100px;
  filter: invert(29%) sepia(53%) saturate(5121%) hue-rotate(347deg) brightness(96%) contrast(102%);
}

.text h3{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "roboto";
  color: white;
}

.text p {
  font-size: 14px;
  line-height: 1.5;
  color: #ccc;
  font-family: "roboto";
}
.figure__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
}
.figure__img{
    width: 600px;
}
.info-item{
    display: flex;
    flex-wrap: wrap;
    width: 530px;
    padding: 30px;
    border-radius: 40px;
    background: #252525;
}
.hrr{
    width: 300px;
    background:#902e00;
    margin-top:50px;
    margin-bottom: 20px;
    height: 3px;
}
.figure__text{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #252525;
    width: 582px;
    margin-left: 300px;
    margin-bottom: 50px;
}
.figure__btn{
    color: white;
    background: #902e00;
    border-radius: 20px;
    font-family: "roboto";
    padding: 5px 40px;
    margin-left: 470px;
    
}
.span2{
    font-family: "roboto";
    font-weight: bold;
}
.span1{
    font-weight: 900;
    font-size: 40px;

}
.address__item{
    background-image: url(../images/saimzavaod.jpg);
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    padding: 30px;
    /* text-align: center; */
    border-radius: 20px;
    backdrop-filter:calc(10px left , black);
}
.span3{
    font-family: "roboto";
    font-weight: bold;
    color: rgb(26, 26, 26);    
    line-height: 60px;
    margin-bottom: 40px;
    /* margin-left: 50px; */
    font-size: 35px;
}
.address__title1{
    margin-left: 50px;
}
.address__text{
    font-family: "roboto";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    letter-spacing: 0%;
    color: white;
    vertical-align: bottom;
    margin-bottom: 130px;

}
.address__btn{
    color: white;
    background: red;
    margin-left: 30px; 
    padding: 4px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    font-family: "roboto";
    border-radius: 20px;
}
.address__btn:hover{
    color: white;
    background: rgb(132, 0, 0);
    margin-left: 30px; 
    padding: 4px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "roboto";
    border-radius: 20px;
}
.address__text1{
    font-family: "roboto";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    letter-spacing: 0%;
    color: white;
    vertical-align: bottom;
    margin-bottom: 100px;    
}
.address__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.figcaption__title{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
.star{
    color: #ff8800;
}
.figcaption__title1{
    font-family: "roboto";
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0%;

}
.figcaption__text{
    font-family: "roboto";
    font-weight: 400;
    font-style: "Regular";
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 6.5%;
    
}
.figcaption__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:100px;
    gap: 50px;
}
.figcaption__img{
    width: 600px;
}
.summary__title{
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;

}
.summary__text{
    font-family: "roboto";
    font-weight: 400;
    font-style: "Regular";
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
        width: 390px;
    vertical-align: bottom;
    color: gray;
}
.summary__inp{
    width: 400px;
    margin-bottom: 30px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    color: gray;
    font-family: "roboto";
    border: 2px solid gray;
}
.summary__inp:hover{

    text-align: center;
    border-radius: 20px;
    color: gray;
    font-family: "roboto";
    border: 2px solid rgb(0, 0, 0);
}
.summary__btn1{
    background: red;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: "roboto";
    transition: 0.5s ease-in-out;
    padding: 5px 60px;
}
.summary__btn1:hover{
    background: rgb(117, 0, 0);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: "roboto";
}
.summary__btn{
    background: rgb(78, 78, 78);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: "roboto";
    transition: 0.5s ease-in-out;
    padding: 5px 40px;
}
.summary__btn:hover{
    background: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: "roboto";
}
.summary__btn:active{
    background: rgb(0, 255, 51);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-family: "roboto";
}
.summary__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    line-height: 60px;
    /* text-align: center; */
}
footer{
    background: #252525;
}
.footer__title{
    color: white;
    font-family: "roboto";
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 30px;
    transition: 0.5s ease-in-out;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.footer__title:hover{
    color: rgb(253, 25, 25);
    font-family: "roboto";
    font-family: "roboto";
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.starr{
    color: white;
    font-size: 30px;
    transition: 0.5s ease-in-out;
}
.starr:hover{
    color: rgb(255, 111, 79);
    font-size: 30px;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .header__list {
        flex-direction: column;
        gap: 15px;
    }

    .header__item1 {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .header__title {
        font-size: 18px;
        text-align: center;
    }

    .main__title {
        font-size: 40px;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .main__text {
        font-size: 18px;
        text-align: center;
        margin-left: 0;
    }

    .main__btn {
        display: block;
        margin: 20px auto;
    }

    .section__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section__igm1, .section__igm2, .section__igm3 {
        position: static;
        width: 80%;
        max-width: 350px;
    }

    .article__list {
        justify-content: center;
        gap: 30px;
    }

    .aside__list {
        flex-direction: column;
        align-items: center;
    }

    .figure__list {
        flex-direction: column;
        align-items: center;
    }

    .figure__text {
        width: 100%;
        margin: 0 auto 30px;
    }

    .figure__btn {
        margin: 0 auto;
        display: block;
    }

    .address__list {
        flex-direction: column;
        gap: 30px;
    }

    .figcaption__list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .summary__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer__list {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer__item1, .footer__item2 {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* Mobil telefonlar uchun (max 600px) */
@media (max-width: 600px) {
    header {
        height: auto;
        padding: 10px 0;
    }

    .header__img {
        width: 120px;
    }

    .main__title {
        font-size: 28px;
        margin-top: 180px;
    }

    .main__text {
        font-size: 16px;
        line-height: 150%;
    }

    .section__title {
        font-size: 26px;
        width: auto;
    }

    .article__title1 {
        font-size: 24px;
    }

    .article__text {
        font-size: 16px;
        width: 100%;
    }

    .aside__item {
        width: 100%;
    }

    .figure__img {
        width: 100%;
        max-width: 400px;
    }

    .address__item {
        width: 90%;
        height: auto;
    }

    .address__text, .address__text1 {
        font-size: 16px;
        line-height: 24px;
    }

    .figcaption__title1 {
        font-size: 22px;
        text-align: center;
    }

    .summary__inp {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
    }

    .summary__btn1 {
        width: 100%;
        font-size: 16px;
    }

    .summary__btn {
        font-size: 18px;
        padding: 10px 20px;
    }

    .footer__title {
        font-size: 16px;
    }
}

.hamburger{
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.hamburger .bar{
  display: block;
  width: 28px;
  height: 3px;
  background: #fff; /* yoki qizil kabi */
  border-radius: 2px;
  transition: transform .3s ease, opacity .2s ease;
}

/* hamburger -> X animatsiya, header.nav-open bo'lganda */
header.nav-open .hamburger .bar:nth-child(1){
  transform: translateY(9px) rotate(45deg);
}
header.nav-open .hamburger .bar:nth-child(2){
  opacity: 0;
}
header.nav-open .hamburger .bar:nth-child(3){
  transform: translateY(-9px) rotate(-45deg);
}

/* mobil nav ko'rsatish */
.mobile-nav{
  position: absolute;
  top: 100%;
  right: 20px;
  background: rgba(0,0,0,0.85);
  padding: 20px;
  border-radius: 10px;
  color: white;
  min-width: 200px;
}
.mobile-nav[hidden]{ display: none; }